*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1120px;
   
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


h1 {
    font-size: 1.72rem;
    margin-bottom: 1.5rem;
}
h2 { 
    font-size: 1.44rem;
    margin-bottom: 1.1rem;
}
h3 {
    font-size: 1.34rem;
    margin-bottom: 1.1rem;
}
h4 {
    font-size: 1rem;
}
h1,h2,h3,h4 {
    line-height: 120%;
}
p {
    font-size: 1rem;
    line-height: 170%;
    color: rgb(88, 88, 88);
}
