.headerTop .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
    
}


.headerTop a {
    text-decoration: none;
    color: black;
}


.container img {
    margin-top: 24px;
    margin-bottom: 24px;
}

.park2 {
    position: relative;
    filter: blur(3px);
}
.aboutUs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(252, 252, 252);
}

.aboutUs p {
    color: rgb(235, 226, 226);
}
#contact {
    text-decoration: none;
    color: black;
    display: none;

}

header {
    background-color:rgb(185, 252, 244);
    height: 50px;
   
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form {
    margin-top: 24px;
  
}

.container h2 {
    color: rgb(255, 132, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.container a {
    text-decoration: none;
}
.submitBtn {
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid rgb(196, 191, 191);
    border-radius: 8px;
    background-color: transparent;
}

.submitBtn:hover {
    background-color: rgb(63, 159, 250);
    color: white;
    transition: 0.3s;

}
#loc li {
    list-style: none;
}
#loc {
    display: block;
}


@media only screen and (min-width: 576px){
 
    #loc {
        display: none;
    }

}
@media only screen and (min-width: 768px){

 


}
@media only screen and (min-width: 992px){
 


}
@media only screen and (min-width:1200px){
 


}