.headerTop .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
    
}


.headerTop a {
    text-decoration: none;
    color: black;
}
#contact {
    text-decoration: none;
    color: black;
    display: none;

}

header {
    background-color:rgb(185, 252, 244);
    height: 50px;
   
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.media img{
    width: 24px;
    gap: 12px;
    background-color: transparent;
}
.language a {
    text-decoration: none;
    color: black;
}

.language {
    display: none;
    
}

.menuButton button {

    color: rgb(0, 0, 0);
    border: none;
    background-color: transparent;
 ;
}
.headerSecond .container {
  
   
    margin-top: 24px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  
 
   
}
.headerSecond .container{
    width: 100%;
    max-width: 1220px;
   
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
   
}
.button{
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "Rubik Doodle Shadow", system-ui;
  }


  .dropdown {
    position: relative;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .dropdown-content {
    display: none;
position: absolute;
    background-color: #f1f1f1;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .attraction button {
    background-color: transparent;
    border: none;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #cbcbcb;}

  .headerSecond{
    display: none;
    
  }
.headerRight {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 12px;
}
  #buttonRight {
    border: 1px solid grey;
    border-radius: 12px;
    background-color: transparent;
 padding-left: 1rem ;
 padding-right: 1rem;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 


  }

  #buttonRight1{
  
    border: 1px solid grey;
    border-radius: 12px;
    background-color: transparent;
 padding-left: 1rem ;
 padding-right: 1rem;

  }

  #park {
    max-width: 100%;
    height: auto;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: rgb(0, 179, 255);
    font-size: 16px;
    padding: 16px 30px;
    border-style: double;
    border-color: rgb(0, 179, 255);
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
  }

  .container .btn:hover {
    border-color: white;
    background-color: rgb(0, 179, 255);
    color: rgb(255, 255, 255);
  }
  .container .btn {
    font-size: 14px;
    font-family: "Comfortaa", sans-serif;
    
    font-weight: 400px;
    font-style: normal;
  }
  .container{
    .container {
        position: relative;
        text-align: center;
        color: white;
      }
  }
 
  .centered {
    color: white;
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .centered h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
      }
  
  
  .centered1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered1 h2 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
.container .btn {
    font-size: 24px;
}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}



.card-container {
  display: flex;
  justify-content: space-between; 
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.card-container h3  {
  color: rgb(0, 140, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@keyframes highlight {
  0% {
      background-color: transparent;
  }
  50% {
      background-color:  rgb(0, 140, 255);
  }
  100% {
      background-color: transparent;
  }
}

.card-container h4 {
  color: rgb(255, 255, 255);
  animation: highlight 2s ease-in-out infinite;
}


@keyframes flashingText {
  0% {
      opacity: 1; 
  }
  50% {
      opacity: 0; 
  }
  100% {
      opacity: 1;
  }
}

.popularRide span {
  color: rgb(255, 57, 2);
  animation: flashingText 1s ease-in-out infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.card {
  width: 30%; 
  height: 200px; 
  border: 1px solid #ccc;
  text-align: center;
}

.card-content {
  padding: 20px;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(100%);
  }
}




.fun 
{
  font-size: 24px;
  color: #ff0000; 
  white-space: nowrap; 
  overflow: hidden; 
  animation: slide 8s linear infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.popularRide {
  text-align: center;
 }

.card-container {
  display: flex;
  justify-content: space-between; 
}

.card {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  }

.popularRides{
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
 
}



@keyframes flashingText {
  0% {
      opacity: 1; 
  }
  50% {
      opacity: 0; 
  }
  100% {
      opacity: 1; 
  }
}

.package {
  color: rgb(255, 57, 2);
  animation: flashingText 1s ease-in-out infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.packages{
 
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;

}

.packages h2 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@keyframes pulse {
  0% {
    background-color: #ffc44e; 
  }
  50% {
    background-color: #a4f449; 
  }
  100% {
    background-color: #f6bf9a; 
  }
}




.packageButton 
{
  color: #650000;
  border: none; 
  border-radius: 24px;
  margin-top: 24px;
  padding: 10px 20px; 
  font-size: 16px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  animation: pulse 2s infinite alternate; 
}

.highlight {
  background-color: rgb(241, 241, 73);
}


.cardcontainer {
  display: flex;
  padding: 12px 12px;
}

@keyframes  bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}
.wavy-text h5 {
  text-align: center;
  color: orangered;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

.wavy-text {
  font-size: 24px;
  animation: bounce 1s ease-in-out infinite;
 
}
#slides img {
  height: 100%;
  width: 100px;
}
#slides span {
  font-size: 32px;
  position: relative;
}

#slides img {
 height: auto;
 width: auto;
 border-radius: 50px;
}

.imgContainer {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}

.more{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 56px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.more p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
#carnivalHead {
  color: black;
  text-align: center;
}
#carnival {
  color: black;
  text-align: center;
}

.fb {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
 margin-top: 32px;
 margin-bottom: 32px;
 background-color: rgb(71, 171, 253);
 border-radius: 50px;
 color: white;
}
.fb p {
  color: white;
}

.fbButton {
  border: 1px solid grey;
  border-radius: 24px;
padding: 12px 8px;
background-color:white;
color: rgb(11, 137, 241);
}
.fbButton:hover {
  background-color: rgb(11, 137, 241);
  color: white;
  transition: 0.3s;
}

.yt {
  padding-top: 12px;
padding-bottom: 12px;
text-align: center;
 margin-top: 32px;
 margin-bottom: 32px;
 background-color: rgb(222, 51, 4);
 border-radius: 50px;
 color: white;
}

.yt p {
  color: white;
}

.ytButton {
  border: 1px solid grey;
  border-radius: 24px;
padding: 12px 8px;
background-color:white;
color: rgb(222,51,4);
}

.ytButton:hover {
background-color:rgb(253, 84, 37); 
color: white;
transition: 0.3s;
}

#themepark2 {
  margin-top: 24px;
  border-radius: 12px;
}

.location {
  margin-top: 12px;
  margin-bottom: 12px;
}

.underline {
 border-bottom: 1px solid rgb(204, 202, 202);


}
.location li {
  list-style: none;
}

#link ul  {
 text-decoration: none;
}
.col a {
  text-decoration: none;
  color: black;
}

.hourBtn {
  border: none;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;

  background-color:rgb(11, 137, 241);
  color: white; 
}

.hourBtn:hover {
  border: 2px solid black;
  background-color: rgba(255, 217, 0, 0.861);
  color: black;
}
  
.final {
  display: none;
}











@media only screen and (min-width: 576px){
 
  .contactUs{
    display: none;
  }
  
  .final {
    display: block;
   }
  }

@media only screen and (min-width: 768px){

  

 
    .menuButton{
        display: none;
      
    }
    .attraction {
        display: none;
    }
#contact {
    display: flex;
    flex-direction: row;
}
.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    
}    
.headerSecond {
    display: flex;
}

}
   


    



@media only screen and (min-width: 992px){
 
 
}

@media only screen and (max-width: 1200px){
  

}